h1 {
    color: rgb(10, 10, 14);
    font-family: "Nunito", sans-serif;
    text-align: center;
}
h2 {
    color: rgb(10, 10, 14);
    font-family: "Nunito", sans-serif;
    text-align: center;
}
  
p {
    color: rgb(10, 10, 14);
    font-family: "PT+Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

body {
    background-color: rgb(255, 253, 248);
}
  